body {
	font-family: monospace, sans-serif;
	margin: 0%;
    text-align: center;
}
header{
    height: 18%;
    text-align:center;
    font-size:1.7em;
    color: white;
    margin: 0%;
    background-color: #004067;
}
#divimg{
    width:auto;
    background-color: #004067;
}
#img1{
    width:100%;
}
#divmain{

    height: 77%;
}
footer{
    height: 80px;
    width: 100%;
    color: #004067;
    padding-top: 20px;
    margin-bottom: 30px;
}
h2{
    border-bottom: none;
    margin: 0%;
    padding-bottom:2%;
}


p{
    margin:0%;
}
h3{
     margin: 0%;
}
h1{
    margin: 0%;
    padding-top: 5%;
}
.grid{
    display: grid;
    grid-template-columns: 70% 30%;
    row-gap: 0%;
}

#diva{
    background-color: #004067;
    grid-column: 1;
    grid-row-start: 1; 
    grid-row-end: span 2; 
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 40px;
    color: white;
    text-align: left;
}

#divt{
    background-color: white;
    grid-column: 2;
    color: #004067;
}
.div-foto{
    margin: 0%;
}

.foto-p{
    width: 100%;
}
ul{
    padding-left: 0%;
}
a{
    text-decoration: none;
    color:#FFFFFF
  }
  .storia{
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
  }
  p{
    margin: bottom 10px;
  }
  #cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    z-index: 9999;
  }
  
  #cookie-banner p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  #cookie-banner button {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
  }
  
  #cookie-banner button:hover {
    background-color: #eee;
  }

  
  .slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .slider-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-container img {
    width: 33.333%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-container img:first-child {
    margin-left: 0;
  }
  
  .slider-container img:last-child {
    margin-right: 0;
  }
  